<div class="container p-3 h-100 home-container">
    <div class="home-logo mb-2">
        <img src="./assets/images/home-logo-game.svg" width="100%" alt="home-logo-game">
    </div>
    <div class="btn-container">
        <p>
            <button class="w-100" mat-raised-button color="primary" (click)="goToPlay()">
                Play
            </button>
        </p>
        <p>
            <button class="w-100" mat-raised-button color="accent">
                High score
            </button>
        </p>
    </div>
</div>