.home-container{

    .home-logo{
        margin: auto;
        max-width: 50%;
        img{
            border-radius: 10px;
        }
    }

    .btn-container{
        max-width: 300px;
        margin: auto;
    }
}
